<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}  • {{ meta.siteName }}</title>
    <meta name="description" content=" {{- description -}} ">

    <meta property="og:title" content="{{- metaTitle -}}" />
    <meta property="og:description" content="{{- description -}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{- meta.url -}}{{- url -}}" />
    <meta property="og:image" content="{{- image -}}" />

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />

</head>


<body data-barba="wrapper">
    <div class="locomotive" data-scroll-container>



        <!-- Header -->
        <header class="gridContainer">
            <div class="grid">

                <!-- Identification -->
                <div class="navLeft">
                    <a href="/" title="Mike Stilling Homepage" class="logo">Mike Stilling</a>
                </div>

                <!-- Desktop Navigation -->
                <nav class="navRight desktop">
                    <a href="/projects" title="View Mike's design">
                        <span class="navLabel">Projects </span>
                        <span class="navNumber">01</span>
                    </a>
                    <a href="/blog" title="Read Mike's blog">
                        <span class="navLabel">Blog </span>
                        <span class="navNumber">02</span>
                    </a>
                    <a href="/about" title="Get to know Mike">
                        <span class="navLabel">About </span>
                        <span class="navNumber">03</span>
                    </a>
                    <a href="/contact" title="Contact Mike">
                        <span class="navLabel">Contact </span>
                        <span class="navNumber">04</span>
                    </a>
                </nav>

                <!-- Mobile Nav Button-->
                <div class="navBtnContainer">
                    <p class="navBtnLabel"><span>Menu</span></p>
                </div>

            </div>
        </header>

        <!-- Mobile Nav -->
        <div class="mobileNav gridContainer">

            <nav class="grid">
                <a href="/projects" title="View Mike's design">
                    <span class="navLabel">Projects </span>
                    <span class="navNumber">01</span>
                </a>
                <a href="/blog" title="Read Mike's blog">
                    <span class="navLabel">Blog </span>
                    <span class="navNumber">02</span>
                </a>
                <a href="/about" title="Get to know Mike">
                    <span class="navLabel">About </span>
                    <span class="navNumber">03</span>
                </a>
                <a href="/contact" title="Contact Mike">
                    <span class="navLabel">Contact </span>
                    <span class="navNumber">04</span>
                </a>
            </nav>

            <div class="mobileNavLower">
                <div class="divider"></div>
                <p class="socialLinks">
                    To chat with Mike, send him a message on <a href="https://www.linkedin.com/in/mikestilling/" target="_blank" title="Mike's LinkedIn" rel="noopener noreferrer">LinkedIn</a> or slide into his DM's on <a href="https://www.instagram.com/mikestilling/" target="_blank" title="Mike's Instagram" rel="noopener noreferrer">Instagram</a> or be traditional and <a href="https://www.instagram.com/mikestilling/" target="blank" title="Mike's Instagram" rel="noopener noreferrer">send Mike an email.</a></p>
            </div>

        </div>



        <!-- Page Content -->
        <main data-barba="container" data-barba-namespace="{{ barba }}">
            {{ content | safe }}
        </main>


        
        <!-- Footer -->
        <footer class="gridContainer">
            <div class="grid">

                <!-- Name + Time -->
                <div class="col col1">
                    <a href="/" title="Mike Stilling Homepage" class="logo">Mike Stilling</a>
                    <div class="note">
                        <p class="mono allCaps">Current jam:</p>
                        <a href="https://open.spotify.com/track/7fF6Af2M3vL4IUtE8cMy6G?si=ff3d6f408bf84280" target="_blank" title="Mike's current jam" rel="noopener noreferrer">
                            Feel Alright <span class="serif">by Steve Earle</span>
                        </a>
                    </div>
                </div>

                <!-- Nav + Social -->
                <div class="col col2">       
                    <!-- Nav -->
                    <nav class="navCol navCol1">
                        <h6>Site</h6>
                        <a href="/projects" title="View Mike's design">Projects</a>
                        <a href="/blog" title="Read Mike's blog">Blog</a>
                        <a href="/about" title="Get to know Mike">About</a>
                        <a href="/contact" title="Contact Mike">Contact</a>
                    </nav>
                    <!-- Social -->
                    <div class="navCol navCol2">
                        <h6>Social</h6>
                        <a href="https://www.instagram.com/mikestilling/" target="_blank" title="Mike's Instagram" rel="noopener noreferrer">Instagram</a>
                        <a href="https://twitter.com/mikestilling" target="_blank" title="Mike's Twitter" rel="noopener noreferrer">Twitter</a>
                        <a href="https://www.linkedin.com/in/mikestilling/" target="_blank" title="Mike's LinkedIn" rel="noopener noreferrer">LinkedIn</a>
                        <a href="https://github.com/stillingdesign" target="_blank" title="Mike's GitHub" rel="noopener noreferrer">GitHub</a>
                    </div>
                </div>

                <!-- Ad Area -->
                <div class="col col3">
                </div>

                <!-- Banner -->
                <div class="footerMarquee">
                    <p class="footerMarqueeTrack">
                        <span class="footerMarqueeItem"><strong>Built with:</strong> Eleventy, Netlify, Contentful, Webpack, GitHub, Locomotive Scroll, Barba, GSAP, Neue Montreal, Editorial New, and Space Mono.</span>
                        <span><strong>Built with:</strong> Eleventy, Netlify, Contentful, Webpack, GitHub, Locomotive Scroll, Barba, GSAP, Neue Montreal, Editorial New, and Space Mono.</span>
                        <span><strong>Built with:</strong> Eleventy, Netlify, Contentful, Webpack, GitHub, Locomotive Scroll, Barba, GSAP, Neue Montreal, Editorial New, and Space Mono.</span>
                    </p>
                </div>

            </div>
        </footer>



    </div>
    <script src="{{ '/assets/js/main.js' | url }}"></script>
</body>


</html>