* {
    position: relative;
    box-sizing: border-box;
}

html {
    font-family: $sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: $gray100;
}

body {
    background-color: $gray10;

    @media screen and (min-width: 961px) {
        max-height: 100vh;
        overflow: hidden;
    }
}

main {
    width: 100%;
    overflow: hidden;
}

// The Grid Wrapper
.gridContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 960px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @media screen and (max-width: 640px) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

// The Grid
.grid {
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 1.125rem;
    row-gap: 0;

    @media screen and (max-width: 960px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        grid-gap: 0;
    }
}

@media screen and (max-width: 960px) { .hideTablet { display: none; } }
@media screen and (max-width: 640px) { .hideMobile { display: none; } }