.blogThumbnail {
    background-color: $gray95;
    box-shadow: 0 -10px 10px $gray95;
    color: $gray10;
    
    .grid {
        padding-top: 0;
        padding-bottom: 10rem;
        align-items: start;

        .date {
            transform-origin: bottom left;
            transform: rotate(90deg);
            font-family: $mono;
            text-transform: uppercase;
            margin-top: 1.5vw;
            color: $gray50;
            min-width: 100px;
        }

        .textBox {
            grid-column: 10 / span 4;
            border-top: 2px solid $gray70;
            padding-top: 2vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            h2 { font-size: 2.5vw; }

            p {
                font-size: 1.25vw;
                line-height: 140%;
                margin: 1vw 0 0.5vw 0;
            }
        }

        .imgOuter {
            grid-column: 2 / span 7;
            overflow: hidden;

            .imgInner {
                max-width: 100%;
            }
        }
    }



    //1920 Max Breakpoint
    @media screen and (min-width: 1920px) {
        .grid {

            .date { margin-top: 1.75rem; }

            .textBox {
                h2 { font-size: 48px; }

                p {
                    font-size: 1.25rem;
                    margin: 1.125rem 0 0.5625rem 0;
                }
            }
        }
    }



    //1280 Breakpoint
    @media screen and (max-width: 1280px) {
        .grid {
            .textBox {
                p { font-size: 1.25vw; }
            }
        }
    }




    //960 Breakpoint
    @media screen and (max-width: 960px) {
        .grid {
            padding-bottom: 6rem;
            flex-direction: column;

            .date {
                display: none;
            }

            .textBox {
                padding-top: 0;
                margin-top: 2rem;
                border-top: none;

                h2 { font-size: 6vw; }

                p {
                    font-size: 3vw;
                    margin: 1rem 0 0.5rem 0;
                }
            }
        }
    }



    //640 Breakpoint
    @media screen and (max-width: 640px) {
        .grid {
            padding-bottom: 4rem;

            .textBox {
                padding-top: 0;
                margin-top: 1rem;
                border-top: none;

                h2 { font-size: 10vw; }

                p {
                    font-size: 1.125rem;
                    margin: 0.75rem 0 0.25rem 0;
                }
            }
        }
    }
}