.blogPostHeadline {
    padding-top: 5rem;
    padding-bottom: 9rem;

    .grid {

        h1 {
            grid-column: 2 / span 12;
            font-size: 7.8vw;
            line-height: 110%;
        }
    }
}



.blogPostHeroImg {
    background: linear-gradient(180deg, $gray10 50%, $gray95 50%);

    .grid {

        .imgOuter {
            grid-column: 2 / span 12;
            overflow: hidden;
            width: 100%;
            height: 0;
            padding-top: 56.25%;
            
            .imgInner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                img { max-width: 100%; }
            }
        }
    }
}



// Content Formatting
.blogContentContainer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: $gray30;
    background-color: $gray95;

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .blogContent {
            width: 100%;
            max-width: 54rem;
            
            // Text Styling
            h1, h2, h3, h4, h5, h6 {
                line-height: 110%;
                margin-top: 3rem;
                margin-bottom: 1rem;
                color: $gray10;
                font-weight: 700;
            }

            h5, h6 { line-height: 120%; }

            h1 { font-size: 3.5rem;   }
            h2 { font-size: 3rem; }
            h3 { font-size: 2.5rem;   }
            h4 { font-size: 2rem; }
            h5 { font-size: 1.75rem;   }
            h6 { font-size: 1.5rem; }

            p {
                font-size: 1.25rem;
                line-height: 150%;
                margin-bottom: 1rem;
            }

            b {
                font-weight: 700;
                color: $gray10;
            }

            i { font-style: italic; }

            // Element Styling
            hr {
                width: 100%;
                height: 2px;
                margin-top: 3.25rem;
                background-color: $gray80;
                border: none;
            }

            img {
                max-width: 100%;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            ol { list-style-type: decimal; }
            ul { list-style-type: disc; }

            ol, ul {
                margin-left: 1rem;
                margin-top: 2rem;
                ::marker { font-weight: bold; }

                li {
                    p {
                        margin-left: 1rem;
                        line-height: 110%;
                    }
                }
            }

            code {
                margin-top: 2rem;
                display: block;
                padding: 1rem;
                font-family: $mono, monospace;
                font-size: 1rem;
                line-height: 140%;
                color: $gray100;
                background-color: $gray10;
                overflow: scroll;
                max-height: 640px;
                -ms-overflow-style: none;
                scrollbar-width: none; 
                &::-webkit-scrollbar { display: none; }
            }

            blockquote {
                margin: 2rem 0;
                padding: 0 2rem;
                border-left: 2px solid $gray50;

                p {
                    font-family: $serif;
                    font-size: 1.5rem;
                    font-style: italic;
                    line-height: 180%;
                    color: $gray10;
                }
            }
        }
    }


    // 960 Breakpoint
    @media screen and (max-width: 960px) {

        .grid {
            .blogContent {

                h1, h2, h3, h4, h5, h6 {
                    line-height: 110%;
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                    color: $gray10;
                    font-weight: 700;
                }

                h5, h6 { line-height: 120%; }

                h1 { font-size: 2.5rem; }
                h2 { font-size: 2.25rem; }
                h3 { font-size: 2rem; }
                h4 { font-size: 1.75rem; }
                h5 { font-size: 1.5rem; }
                h6 { font-size: 1.25rem; }

                p {
                    font-size: 1.25rem;
                    line-height: 150%;
                    margin-bottom: 1rem;
                }

                blockquote {
                    margin: 2rem 0;
                    padding: 0 1rem;
                    border-left: 2px solid $gray50;
    
                    p {
                        font-family: $serif;
                        font-size: 1.25rem;
                        font-style: italic;
                        line-height: 180%;
                        color: $gray10;
                    }
                }
            }
        }
    }
}