.blogPostHeadline {
    padding-top: 5rem;
    padding-bottom: 9rem;

    .grid {

        .textBox {
            grid-column: 2 / span 4;
            padding-top: 1.5vw;
            padding-bottom: 1vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .back {
                width: 100%;
                display: grid;
                align-items: center;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 1.125rem;
                row-gap: 0;
                text-transform: uppercase;
                color: $gray50;
                transition: color 200ms linear 0ms;

                .backIcon {
                    grid-column: 1 / span 1;

                    svg {
                        width: 2vw;
                        stroke: $gray100;
                        stroke-width: 2px;
                        stroke-linejoin: bevel;
                        fill: none;
                        transition: transform 300ms $inOutQuint 0ms;
                    }
                }

                p {
                    grid-column: 2 / span 3;
                    font-size: 1.25vw;
                }

                @media (hover: hover) {
                    &:hover {
                        color: $gray100;

                        .backIcon {
                            svg {
                                transform: translateX(-1rem);
                                transition: transform 400ms $inOutQuint 0ms;
                            }
                        }
                    }
                }
            }

            .notes {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                text-transform: uppercase;
                color: $gray50;

                .note {
                    width: 100%;
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 1.125rem;
                    row-gap: 0;
                    text-transform: uppercase;
                    color: $gray50;
                    &:first-child { margin-bottom: 0.5vw;}

                    .label {
                        grid-column: 1 / span 1;
                        font-family: $mono;
                        font-size: 1vw;
                    }

                    .name {
                        grid-column: 2 / span 3;
                        color: $gray100;
                        font-size: 1.25vw;
                    }
                }
            }
        }

        h1 {
            grid-column: 6 / span 8;
            font-size: 5vw;
            line-height: 110%;
        }
    }



    //1920 Max Breakpoint
    @media screen and (min-width: 1920px) {
        .grid {

            h1 { font-size: 6rem; }

            .textBox {
                padding-top: 1.75rem;
                padding-bottom: 1.25rem;
            }

            .back {
                .backIcon {
                    svg { width: 2.25rem; }
                }

                p { font-size: 1.5rem; }
            }

            .notes {
                .note {
                    &:first-child { margin-bottom: 0.625rem; }
                    .label { font-size: 1.25rem; }
                    .name { font-size: 1.5rem; }
                }
            }
        }
    }



    //960 Breakpoint
    @media screen and (max-width: 960px) {
        padding-top: 3rem;
        padding-bottom: 6rem;

        .grid {
            h1 { font-size: 8vw; }

            .textBox {
                width: 100%;
                padding-top: 0;
                padding-bottom: 2rem;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                .back {
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin-right: 2rem;
                    grid-gap: 0;

                    p { font-size: 1rem; }

                    .backIcon {
                        margin-right: 0.5rem;
                        svg { width: 1.25rem; }
                    }
                }

                .notes {
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-transform: uppercase;
                    color: $gray50;
    
                    .note {
                        width: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        justify-content: flex-start;
                        grid-gap: 0;
                        text-transform: uppercase;
                        color: $gray50;
                        &:first-child {display: none;}
    
                        .label {
                            font-family: $mono;
                            font-size: 0.75rem;
                            margin-right: 0.5rem;
                        }
    
                        .name {
                            color: $gray100;
                            font-size: 1rem;
                            transform: translateY(0.1rem);
                        }
                    }
                }
            }
        }
    }



    //640 Breakpoint
    @media screen and (max-width: 640px) {
        padding-top: 6rem;
        padding-bottom: 3rem;

        .grid {
            h1 { font-size: 13vw; }
        }
    }
}



.blogPostHeroImg {
    z-index: 2;
    background: linear-gradient(180deg, $gray10 50%, $gray100 50%);

    .grid {

        .imgOuter {
            grid-column: 2 / span 12;
            overflow: hidden;
            width: 100%;
            
            img { width: 100%; }
        }
    }
}



// Content Formatting
.blogContentContainer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: $gray30;
    background-color: $gray100;
    box-shadow: 0 -10px 10px $gray100;

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .blogContent {
            width: 100%;
            max-width: 50rem;
            


            /* ===== TEXT STYLING ===== */
            h1, h2, h3, h4, h5, h6 {
                line-height: 110%;
                margin-bottom: 2rem;
                color: $gray10;
            }

            h5, h6 { line-height: 120%; }

            h1 { font-size: 4rem; font-weight: 700; }
            h2 { font-size: 3.5rem; font-weight: 700; }
            h3 { font-size: 2.75rem; font-weight: 700; }
            h4 { font-size: 2rem; font-weight: 700; }
            h5 { font-size: 1.5rem; font-weight: 700; }

            h6 {
                font-family: $mono;
                font-size: 1rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1.5rem;
                line-height: 150%;
                margin-bottom: 2rem;
            }

            b {
                font-weight: 700;
                color: $gray10;
            }

            i { font-style: italic; }



            /* ===== ELEMENT STYLING ===== */
            hr {
                width: 100%;
                height: 2px;
                margin: 4.5rem 0;
                background-color: $gray70;
                background-image: $gradient;
                border: none;
            }

            img {
                width: 120%;
                margin-left: -10%;
                margin-top: 2rem;
                margin-bottom: 4rem;
                border-radius: 0.5rem;
                border: 1px solid $gray80;
            }

            ol { list-style-type: decimal; }
            ul { list-style-type: disc; }

            ol, ul {
                margin-left: 1rem;
                margin-top: 2rem;
                ::marker { font-weight: bold; }

                li {
                    p {
                        margin-left: 1rem;
                        line-height: 110%;
                    }
                }
            }

            code {
                margin-top: 2rem;
                display: block;
                padding: 1rem;
                font-family: $mono, monospace;
                font-size: 1rem;
                line-height: 140%;
                color: $gray100;
                background-color: $gray10;
                overflow: scroll;
                max-height: 640px;
                -ms-overflow-style: none;
                scrollbar-width: none; 
                &::-webkit-scrollbar { display: none; }
            }

            blockquote {
                margin: 2rem 0;
                padding: 0 2rem;
                border-left: 2px solid $gray50;

                p {
                    font-family: $serif;
                    font-size: 1.5rem;
                    font-style: italic;
                    line-height: 180%;
                    color: $gray10;
                }
            }



            /* ===== CREDITS ===== */
            .credits {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            
                .author {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
            
                    img {
                        margin: 0;
                        width: 8rem;
                        max-width: 8rem;
                        border: none;
                        border-radius: 4rem;
                    }

                    .notes {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        margin-left: 2rem;

                        p {
                            margin: 0;
                            padding: 0;
                            line-height: 110%;
                        }

                        .label {
                            font-size: 0.75rem;
                            font-family: $mono;
                            text-transform: uppercase;
                        }

                        .name { margin: 0.5rem 0; }

                        .title {
                            font-size: 0.8625rem;
                            font-family: $serif;
                            font-style: italic;
                            text-transform: lowercase;
                        }
                    }
                }

                .social {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    a { margin-left: 1rem; }
                }
            }
        }
    }



    // 960 Breakpoint
    @media screen and (max-width: 960px) {

        .grid {
            .blogContent {

                h1, h2, h3, h4, h5, h6 {
                    line-height: 110%;
                    margin-bottom: 2rem;
                    color: $gray10;
                    font-weight: 700;
                }

                h5, h6 { line-height: 120%; }

                h1 { font-size: 2.5rem; }
                h2 { font-size: 2.25rem; }
                h3 { font-size: 2rem; }
                h4 { font-size: 1.75rem; }
                h5 { font-size: 1.5rem; }

                p {
                    font-size: 1.25rem;
                    line-height: 150%;
                    margin-bottom: 2rem;
                }

                img {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 2rem;
                    margin-bottom: 4rem;
                    border-radius: 0.5rem;
                    border: 1px solid $gray80;
                }

                blockquote {
                    margin: 2rem 0;
                    padding: 0 1rem;
                    border-left: 2px solid $gray50;
    
                    p {
                        font-family: $serif;
                        font-size: 1.25rem;
                        font-style: italic;
                        line-height: 180%;
                        color: $gray10;
                    }
                }
            }
        }
    }



    // 640 Breakpoint
    @media screen and (max-width: 640px) {
        .grid {
            .blogContent {

                .credits {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .author {
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                
                        img {
                            margin: 0;
                            width: 12rem;
                            max-width: 12rem;
                            border-radius: 6rem;
                        }
    
                        .notes {
                            margin-top: 1rem;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                            margin-left: 0;
                        }
                    }

                    .social {
                        margin-top: 2rem;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        a { margin-right: 1rem; }
                        a.first {margin-left: 0;}
                    }
                }
            }
        }
    }
}