.blogFeaturedHeadline {
    padding-top: 5rem;
    background: linear-gradient(180deg, $gray10 70%, $gray95 70%);

    .grid {
        align-items: end;

        &.img {
            padding-bottom: 10rem;
        }

        .notes {
            grid-column: 2 / span 12;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 1rem;

            .label { text-transform: uppercase; }

            .dot {
                margin: 0 1rem;
            }

            .date {
                font-family: $mono;
                text-transform: uppercase;
                transform: translateY(-.15em);
            }
        }

        h1 {
            grid-column: 2 / span 9;
            font-size: 5vw;
            a { color: $gray100; }
        }

        .btnContainer {
            grid-column: 11 / span 3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.75vw;
        }

        .imgOuter {
            margin-top: 8rem;
            grid-column: 2 / span 12;
            overflow: hidden;
            width: 100%;

            .imgInner { width: 100%; }
        }
    }



    //1920 Max Breakpoint
    @media screen and (min-width: 1920px) {
        .grid {
            h1 { font-size: 6rem; }
            .btnContainer { margin-bottom: 1rem; }
        }
    }



    //960 Breakpoint
    @media screen and (max-width: 960px) {
        padding-top: 3rem;
        padding-bottom: 6rem;
        flex-direction: column;

        .grid {
            justify-content: flex-start;
            align-items: flex-start;

            &.img {
                padding-bottom: 0;
                background-color: transparent;
            }

            h1 { font-size: 8vw; }


            .btnContainer {
                margin-top: 2rem;
                align-items: flex-start;
                justify-content: flex-start;
            }

            .imgOuter {
                margin-top: 2.5rem;
                margin-bottom: 2rem;
            }
        }
    }



    //640 Breakpoint
    @media screen and (max-width: 640px) {
        padding-top: 6rem;
        padding-bottom: 4rem;
        background: linear-gradient(180deg, $gray10 75%, $gray95 75%);

        .grid {
            justify-content: flex-start;
            align-items: flex-start;

            h1 { font-size: 3rem; }

            .btnContainer { margin-top: 1rem; }
            .imgOuter { margin-bottom: 1.25rem;}
        }
    }
}

.contentMarquee {
    @media screen and (max-width: 640px) {
        padding-top: 4.5rem;
    }
}