.homeHeadline {
    padding-top: 5rem;
    padding-bottom: 10rem;

    .grid {

        h1 {
            grid-column: 2 / span 12;
            font-size: 6.6vw;
            line-height: 110%;
        }
    }



    //1920 Max Breakpoint
    @media screen and (min-width: 1921px) { .grid { h1 { font-size: 128px; } } }



    //960 Breakpoint
    @media screen and (max-width: 960px) {
        padding-top: 3rem;
        padding-bottom: 6rem;
        .grid { h1 { font-size: 9.5vw; } }
    }



    //640 Breakpoint
    @media screen and (max-width: 640px) {
        padding-top: 6rem;
        padding-bottom: 4rem;
        .grid { h1 { font-size: 15.5vw; } }
    }
}