.homeQualifications {
    .grid {
        padding-top: 5rem;
        padding-bottom: 10rem;

        .textBox {
            //border: 1px solid red;
            grid-column: 2 / span 4;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            h3 {
                font-size: 4.5vw;
                color: $gray100;
                margin-bottom: 2rem;
            }

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                font-family: $mono;
                text-transform: uppercase;

                li {
                    padding: 4px 8px;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    color: $gray50;
                    background-color: $gray20;
                }
            }
        }

        .workHistory {
            grid-column: 7 / span 7;
            border-top: 2px solid $gray30;

            li {
                cursor: pointer;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-gap: 1.125rem;
                grid-row-gap: 2rem;
                padding-top: 2rem;
                border-bottom: 2px solid $gray30;
                overflow: hidden;
                height: 7rem;
                transition: height 1000ms $inOutQuint 0ms;

                .col1 {
                    grid-column: 1 / span 3;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .logo {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $gray100;
                    }

                    h4 {
                        margin-top: 0.25rem;
                        margin-left: 1rem;
                        font-size: 2.5rem;
                    }
                }

                .title,
                .duration {
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: $mono;
                    text-transform: uppercase;
                    text-transform: uppercase;
                    font-size: 1rem;
                }

                .title {
                    grid-column: 4 / span 2;
                    color: $gray50;
                }

                .duration {
                    grid-column: 6 / span 1;
                    color: $gray30;
                }

                .iconContainer {
                    grid-column: 7 / span 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .icon {
                        stroke: $gray100;
                        stroke-width: 2px;
                        fill: none;
                        transition: transform 1000ms $inOutQuint 0ms;
                    }
                }

                .desc {
                    grid-column: 1 / span 6;
                    padding: 0 0 2rem 4vw;
                    font-size: 1.5rem;
                    line-height: 140%;
                    letter-spacing: 0;
                    color: $gray70;
                }

                &.active {
                    .iconContainer .icon{ transform: rotate(-135deg); }
                    .desc { opacity: 1; }
                }
            }
        }
    }



    //1920 Max Breakpoint
    @media screen and (min-width: 1921px) {

        .grid {
            .textBox {
                h3 {
                    font-size: 5.5rem;
                }
            }
        }
    }



    //1280 Breakpoint
    @media screen and (max-width: 1280px) {

        .grid {
            .textBox {
                grid-column: 2 / span 5;
                margin-bottom: 2rem;
                h3 { font-size: 6vw; }
            }

            .workHistory {
                grid-column: 8 / span 6;

                li {
                    grid-template-columns: repeat(6, 1fr);

                    .col1 {
                        grid-column: 1 / span 3;
                        h4 {
                            margin-left: 0.5rem;
                            font-size: 2rem;
                        }
                    }

                    .title {
                        grid-column: 4 / span 2;
                        font-size: 0.8rem;
                    }

                    .duration { display: none; }
                    .iconContainer { grid-column: 6 / span 1; }

                    .desc {
                        grid-column: 1 / span 6;
                        padding-left: 0; 
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }



    //960 Breakpoint
    @media screen and (max-width: 960px) {
        
        .grid {
            padding-top: 5rem;
            border-top: 2px solid $gray30;

            .textBox {
                margin-bottom: 4.5rem;

                h3 {
                    max-width: 60%;
                    font-size: 8vw;
                }
            }
        }
    }



    //640 Breakpoint
    @media screen and (max-width: 640px) {
        .grid {
            padding-top: 4.5rem;
            padding-bottom: 5rem;

            .textBox {
                margin-bottom: 4rem;

                h3 {
                    max-width: 100%;
                    font-size: 14vw;
                    margin-bottom: 1rem;
                }

                ul li { font-size: 1rem;}
            }

            .workHistory {
                width: 100%;

                li {
                    padding-top: 1rem;
                    grid-row-gap: 1rem;
                    height: 5rem;

                    .col1 { grid-column: 1 / span 5; }
                    .title {display: none;}

                    .desc {
                        padding: 0 0 1rem 0;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}