.homeHeroImg {
    padding-top: 0;
    padding-bottom: 0;

    .grid {

        .imgOuter {
            grid-column: 5 / span 9;
            height: 0;
            padding-top: 56.25%;

            .imgLabel {
                position: absolute;
                padding-left: 1.5rem;
                border-left: 2px solid $gray100;
                top: 0;
                left: 0;
                color: $gray40;
                line-height: 140%;
                transform-origin: top left;
                transform: translateX(-1.5rem) rotate(90deg);
            }

            .imgInner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                overflow: hidden;
                img { max-width: 100%; }
            }
        }
    }



    //1440 Breakpoint
    @media screen and (max-width: 1440px) {
        .grid {
            .imgOuter {
                grid-column: 3 / span 11;
            }
        }
    }



    //960 Breakpoint
    @media screen and (max-width: 960px) {
        .grid {
            .imgOuter {
                width: 100%;
                .imgLabel { display: none; }
            }
        }
    }

    //640 Breakpoint
    @media screen and (max-width: 960px) {
        .grid {
            .imgOuter {
                width: 100%;
                padding-top: 100%;
                .imgLabel { display: none; }
            }
        }
    }
}