.homeSpinText {
    height: 0;
    
    .grid {
        .imgOuter {
            grid-column: 9 / span 2;

            .imgInner {
                width: 100%;
                fill: $gray100;
            }

            .icon {
                position: absolute;
                top: calc(50% - 2vw);
                left: calc(50% - 2vw);
                width: 4vw;
                height: 4vw;
                fill: $gray100
            }
        }
    }



    //1920 Max Breakpoint
    @media screen and (min-width: 1921px)  {
        .grid {
            .imgOuter {
                .icon {
                    top: calc(50% - 2.5rem);
                    left: calc(50% - 2.5rem);
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }



    //1280 Breakpoint
    @media screen and (max-width: 1280px)  {
        .grid {
            .imgOuter {
                grid-column: 11 / span 3;
            }
        }
    }



    //960 Breakpoint
    @media screen and (max-width: 960px)  {
        .grid {
            align-items: flex-end;

            .imgOuter {
                max-width: 26vw;
                
                .imgInner { fill: $gray50; }

                .icon {
                    top: calc(50% - 4vw);
                    left: calc(50% - 4vw);
                    width: 8vw;
                    height: 8vw;
                }
            }
        }
    }



    //640 Breakpoint
    @media screen and (max-width: 640px)  {
        .grid {
            .imgOuter {
                max-width: 32vw;
                
                .imgInner { fill: $primaryM; }

                .icon {
                    top: calc(50% - 5vw);
                    left: calc(50% - 5vw);
                    width: 10vw;
                    height: 10vw;
                }
            }
        }
    }
}