.homeCaseStudiesTitle {
    .grid {
        color: $gray0;

        .lineOne {
            grid-column: 2 / span 6;
            font-size: 16.5vw;
            line-height: 90%;
            width: 100%;
            &.content { grid-column: 2 / span 12; }
        }

        .linkBlock {
            grid-column: 10 / span 5;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            a { margin-bottom: 1.75vw; }
            &.content { grid-column: 2 / span 2; }
        }

        .lineTwo {
            //border: 1px solid red;
            grid-column: 2 / span 12;
            text-align: right;
            font-size: 15vw;
            line-height: 100%;
            width: 100%;
            &.content { grid-column: 4 / span 10; }
        }
    }


    //1920 Max Breakpoint
    @media screen and (min-width: 1920px) {
        .grid {
            color: $gray0;
    
            .lineOne { font-size: 20rem; }

            .linkBlock {
                a { margin-bottom: 1.75rem; }
            }

            .lineTwo { font-size: 18rem; }
        }
    }



    // 1440 Breakpoint
    @media screen and (max-width: 1440px) {
        .grid {
            .lineOne {
                grid-column: 1 / span 8;
                font-size: 20vw;
                margin-left: -1vw;
                &.content { grid-column: 1 / span 11; }
            }

            .linkBlock {
                grid-column: 10 / span 5;
                &.content { grid-column: 12 / span 3; }
            }
    
            .lineTwo {
                grid-column: 1 / span 14;
                font-size: 18vw;
                &.content { grid-column: 3 / span 12; }
            }
        }
    }



    // 960 Breakpoint
    @media screen and (max-width: 960px) {
        .grid {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: stretch;
            align-items: stretch;

            .lineOne {width: auto;}

            .linkBlock {
                flex-grow: 1;
                justify-content: center;
                a { margin-bottom: 1.25rem; }
                &.content { display: none; }
            }
        }
    }



    // 640 Breakpoint
    @media screen and (max-width: 640px) {
        .grid {
            .lineOne {
                font-size: 25vw;
                text-align: center;
                margin-left: 0;
                &.content { font-size: 22vw; }
            }

            .linkBlock { display: none; }
    
            .lineTwo {
                font-size: 22.5vw;
                text-align: center;
                margin-left: -2vw;
                &.content { font-size: 20vw; }
            }
        }
    }
}


.marquee {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    .marqueeTrack {
        margin-top: 0.75vw;
        flex-shrink: 0;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;

        .marqueeItem {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            font-size: 10vw;
            text-transform: uppercase;
            color: $gray0;

            .marqueeDot {
                width: 2vw;
                height: 2vw;
                margin-bottom: 0.5vw;
                background-color: $gray0;
                border-radius: 1vw;
                margin: 0 4vw 0.5vw 4vw;
            }
        }
    }



    //1920 Max Breakpoint
    @media screen and (min-width: 1920px) {
        .marqueeTrack {
            margin-top: 1rem;

            .marqueeItem {
                font-size: 12rem;

                .marqueeDot {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 1.25rem;
                    margin: 0 4.5rem 0.8rem 4.5rem;
                }
            }
        }
    }



    //1440 Breakpoint
    @media screen and (max-width: 1440px) {
        .marqueeTrack {
            margin-top: 0.75vw;

            .marqueeItem {
                font-size: 14vw;

                .marqueeDot {
                    width: 3vw;
                    height: 3vw;
                    background-color: $gray0;
                    border-radius: 1.5vw;
                    margin: 0 4.25vw 0.75vw 4.25vw;
                }
            }
        }
    }


    //960 Breakpoint
    @media screen and (max-width: 960px) {
        .marqueeTrack {
            margin-top: 2vw;

            .marqueeItem {
                font-size: 18vw;

                .marqueeDot {
                    width: 3vw;
                    height: 3vw;
                    background-color: $gray0;
                    border-radius: 1.5vw;
                    margin: 0 4.25vw 1.25vw 4.25vw;
                }
            }
        }
    }



    //640 Breakpoint
    @media screen and (max-width: 640px) {
        .marqueeTrack {
            margin-top: 4vw;

            .marqueeItem {
                font-size: 30vw;

                .marqueeDot {
                    width: 4.5vw;
                    height: 4.5vw;
                    background-color: $gray0;
                    border-radius: 2.25vw;
                    margin: 0 6vw 1.5vw 6vw;
                }
            }
        }
    }
}