---
permalink: "about/"
layout: base.njk

eleventyComputed:
  title: "About"
  url: "/about/"
  description: "Welcome to my about"
  image: "https://images.ctfassets.net/06s354hi0b4y/7k67O0l63Wp1las1sYsesO/2a9a757f284ff3ecc5f5f6a0d8caf7cd/inline-image.jpg"
  barba: "about"
---

<h1> Hello World </h1>
<p> This is the about page</p>
<section class="filler"></section>