---
pagination:
  data: blogPosts
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "blog/{{ page.slug | slug }}/"
tags: "page"
layout: base.njk

eleventyComputed:
  title: "{{- page.postTitle -}}"
  url: "/blog/{{- page.slug | slug -}}/"
  description: "{{- page.metaDescription -}}"
  image: "{{- page.metaImage -}}"
  barba: "{{- page.postTitle | slug -}}"
---

<!-- Headline -->
<section class="gridContainer blogPostHeadline">
  <div class="grid">

    <div class="textBox">

      <a href="/blog/" class="back">
        <div class="backIcon">
          <svg viewBox="0 0 33 26" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L1 13L13 25"/>
            <path d="M1 13H33"/>
          </svg> 
        </div>         
        <p>All Content</p>
      </a>

      <div class="notes">
        <div class="note author">
          <p class="label">Author:</p>
          <p class="name">Mike Stilling</p>
        </div>
        <div class="note">
          <p class="label">Created:</p>
          <p class="name">{{ page.postDate }}</p>
        </div>
      </div>

    </div>

    <h1>{{ page.postTitle }}</h1>
    
  </div>
</section>

<!-- Featured Image -->
<section class="gridContainer blogPostHeroImg">
  <div class="grid">

    <div class="imgOuter">
      <div class="imgInner">
        <img src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
      </div>
    </div>
    
  </div>
</section>

<!-- Blog Content-->
<section class="gridContainer blogContentContainer">
    <div class="grid">

      <div class="blogContent">
        {{- page.postContent | safe -}}
      </div>

      <ol>
        <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
        <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
      </ol>

    </div>
</section>