---
permalink: "blog/"
layout: base.njk

eleventyComputed:
  title: "Blog"
  url: "/blog/"
  description: "Welcome to my blog"
  image: "https://images.ctfassets.net/06s354hi0b4y/7k67O0l63Wp1las1sYsesO/2a9a757f284ff3ecc5f5f6a0d8caf7cd/inline-image.jpg"
  barba: "blog"
---

<h1> Hello World </h1>
<p> This is the blog page</p>

<ul>
    {% for page in blogPosts %}
        <li><a href="/blog/{{ page.slug | url }}">{{page.postTitle}}</a></li>
    {% endfor %}
</ul>