---
pagination:
  data: blogPosts
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "blog/{{ page.slug | slug }}/"
tags: "page"
layout: base.njk

eleventyComputed:
  title: "{{- page.postTitle -}}"
  url: "/blog/{{- page.slug | slug -}}/"
  description: "{{- page.metaDescription -}}"
  image: "{{- page.metaImage -}}"
  barba: "{{- page.postTitle | slug -}}"
---

<!-- Headline -->
<section class="gridContainer blogPostHeadline">
  <div class="grid">

    <div class="textBox">

      <a href="/blog/" class="back">
        <div class="backIcon">
          <svg viewBox="0 0 33 26" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L1 13L13 25"/>
            <path d="M1 13H33"/>
          </svg> 
        </div>         
        <p>All Content</p>
      </a>

      <div class="notes">
        <div class="note author">
          <p class="label">Author:</p>
          <p class="name">Mike Stilling</p>
        </div>
        <div class="note">
          <p class="label">Created:</p>
          <p class="name">{{ page.postDate }}</p>
        </div>
      </div>

    </div>

    <h1>{{ page.postTitle }}</h1>
    
  </div>
</section>



<!-- Featured Image -->
<section class="gridContainer blogPostHeroImg">
  <div class="grid">

    <div class="imgOuter">
      <img src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
    </div>
    
  </div>
</section>



<!-- Blog Content-->
<section class="gridContainer blogContentContainer">
    <div class="grid">


      <div class="blogContent">
        {{- page.postContent | safe -}}

        <hr>

        <div class="credits">
          <div class="author">
            <img src="/assets/img/mikes-profile.jpg" alt="profile image of Mike Stilling" />
            <div class="notes">
              <p class="label">Author</p>
              <p class="name">Mike Stilling</p>
              <p class="title">Digital Designer</p>
            </div>
          </div>
          <div class="social">
            <a href="https://www.instagram.com/mikestilling/" target="_blank" title="Mike's Instagram" rel="noopener noreferrer" class="first">Instagram</a>
            <a href="https://twitter.com/mikestilling" target="_blank" title="Mike's Twitter" rel="noopener noreferrer">Twitter</a>
            <a href="https://www.linkedin.com/in/mikestilling/" target="_blank" title="Mike's LinkedIn" rel="noopener noreferrer">LinkedIn</a>
          </div>
        </div>

      </div>
      

    </div>
</section>



<!-- Prev + Next-->
{% set previousPost = blogPosts | getPreviousCollectionItem(page) %}
{% set nextPost = blogPosts | getNextCollectionItem(page) %}
{% set firstPost = blogPosts | first %}
{% set lastPost = blogPosts | last %}

<section class="gridContainer blogPrevNext">
  <div class="grid">

    {% if previousPost %}
      <a href="{{ previousPost.url }}" title="Read {{ previousPost.postTitle }}" class="article article1">
        <div class="imgOuter">
          <img src="{{ previousPost.heroImage.url }}" alt="{{ previousPost.heroImage.altText }}"/>
        </div>
        <div class="textBox">
          <p class="label">Previous</p>
          <h2>{{ previousPost.postTitle }}</h2>
        </div>
      </a>
      {% else %}
      <a href="{{ lastPost.url }}" title="Read {{ lastPost.postTitle }}" class="article article1">
        <div class="imgOuter">
          <img src="{{ lastPost.heroImage.url }}" alt="{{ lastPost.heroImage.altText }}"/>
        </div>
        <div class="textBox">
          <p class="label">Previous</p>
          <h2>{{ lastPost.postTitle }}</h2>
        </div>
      </a>
    {% endif %}

    {% if nextPost %}
      <a href="{{ nextPost.url }}" title="Read {{ nextPost.postTitle }}" class="article article2">
        <div class="imgOuter">
          <img src="{{ nextPost.heroImage.url }}" alt="{{ nextPost.heroImage.altText }}"/>
        </div>
        <div class="textBox">
          <p class="label">Next</p>
          <h2>{{ nextPost.postTitle }}</h2>
        </div>
      </a>
      {% else %}
      <a href="{{ firstPost.url }}" title="Read {{ firstPost.postTitle }}" class="article article2">
        <div class="imgOuter">
          <img src="{{ firstPost.heroImage.url }}" alt="{{ firstPost.heroImage.altText }}"/>
        </div>
        <div class="textBox">
          <p class="label">Next</p>
          <h2>{{ firstPost.postTitle }}</h2>
        </div>
      </a>
    {% endif %}

  </div>
</section>