---
permalink: "blog/"
layout: base.njk

eleventyComputed:
  title: "Blog"
  metaTitle: "Mike Stilling's Blog"
  url: "/blog/"
  description: "Ramblings on design and the process"
  image: "/assets/img/og_blog.jpg"
  barba: "blog"
---



<!-- Featured -->
{% set latestPost = blogPosts | last %}
<section class="gridContainer blogFeaturedHeadline">
  <div class="grid title">

    <div class="notes">
      <p class="label">Blog</p>
      <p class="dot">•</p>
      <p class="date">{{ latestPost.postDate }}</p>
    </div>

    <h1><a href="/blog/{{ latestPost.slug | url }}" title="Read {{ latestPost.postTitle }}">{{ latestPost.postTitle }}</a></h1>

    <div class="btnContainer">
      <a class="btn" href="/blog/{{ latestPost.slug | url }}" title="Read {{ latestPost.postTitle }}">Read more</a>
    </div>

  </div>
  <div class="grid img">

    <div class="imgOuter">
      <img class="imgInner" src="{{ latestPost.heroImage.url }}" />
    </div>

  </div>
</section>



<!-- All Content -->
<section class="gridContainer blogAllContent">
  <div class="grid">

    <h3>All Content</h3>
    <h4>Editorials + Tutorials</h4>

  </div>
</section>



{% for page in blogPosts.slice(0, 3) | reverse %}
<section class="gridContainer blogThumbnail">
  <div class="grid">

    <div class="imgOuter">
      <img class="imgInner" src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
    </div>

    <p class="date">
      {{ page.postDate }}
    </p>

    <div class="textBox">
      <h2>{{ page.postTitle }}</h2>
      <p> {{ page.overview }}</p>
      <a class="linkUnderlineMedium dark" href="/blog/{{ page.slug | url }}" title="Read {{ page.postTitle }}">Read more</a>
    </div>

  </div>
</section>
{% endfor %}