---
permalink: "blog/"
layout: base.njk

eleventyComputed:
  title: "Blog"
  url: "/blog/"
  description: "Welcome to my blog"
  image: "https://images.ctfassets.net/06s354hi0b4y/7k67O0l63Wp1las1sYsesO/2a9a757f284ff3ecc5f5f6a0d8caf7cd/inline-image.jpg"
  barba: "blog"
---

<!-- Marquee -->
<section class="marquee contentMarquee">
  <div class="marqueeTrack">

    <div class="marqueeItem">
      <p>Content</p>
      <div class="marqueeDot"></div>
    </div>

    <div class="marqueeItem">
      <p>Blog</p>
      <div class="marqueeDot"></div>
    </div>

    <div class="marqueeItem">
      <p>Content</p>
      <div class="marqueeDot"></div>
    </div>

    <div class="marqueeItem">
      <p>Blog</p>
    </div>

  </div>
</section>



<!-- Featured -->
{% set firstPost = blogPosts | first %}

<section class="gridContainer contentFeaturedHeadline">
  <div class="grid">

    <h2><a href="/blog/{{ firstPost.slug | url }}" title="Read {{ firstPost.postTitle }}">{{ firstPost.postTitle }}</a></h2>

    <div class="btnContainer">
      <a class="btn" href="/blog/{{ firstPost.slug | url }}" title="Read {{ firstPost.postTitle }}">Read more</a>
    </div>

  </div>
  <div class="grid">

    <div class="imgOuter">
      <img class="imgInner" src="{{ firstPost.heroImage.url }}" />
    </div>

  </div>
</section>



<ul>
    {% for page in blogPosts %}
        <li><a href="/blog/{{ page.slug | url }}">{{page.postTitle}}</a></li>
    {% endfor %}
</ul>

<section class="filler"></section>