---
permalink: "/"
layout: base.njk

eleventyComputed:
  title: "Home"
  url: "/"
  description: "Welcome to my website"
  image: "https://images.ctfassets.net/06s354hi0b4y/7k67O0l63Wp1las1sYsesO/2a9a757f284ff3ecc5f5f6a0d8caf7cd/inline-image.jpg"
  barba: "index"
---

<!-- Headline -->
<section class="gridContainer homeHeadline">
  <div class="grid">

    <h1>
      Mike Stilling <span class="hideTablet">is a <span class="serif">designer</span> that</span> builds digital brands with nice<span class="hideMobile">, talented</span> people.
    </h1>

  </div>
</section>

<!-- Hero Image -->
<section class="gridContainer homeHeroImage">
  <div class="grid">

    <div class="imgOuter">

      <div class="imgLabel mono allCaps">
        <p>Trendy Stuff</p>
        <p>3D Exploration</p>
        <p>2021 Mike Stilling</p>
      </div>

      <div class="imgInner">
        <img src="./assets/img/hero-placeholder.jpg" alt="placeholder">
      </div>

    </div>

  </div>
</section>

<!-- Hero Intro -->
<section class="gridContainer homeIntro">
  <div class="grid">

    <h2>Mike <span class="serif italic">specializes</span> in UI design, interaction, and technical problem solving.</h2>
    
    <p>
      A pretty screen design is cool, but it’s cooler when it’s designed and developed in parallel, A/B tested and iterated on in real-time, all while Slack is firing off notifications with leads to the Sales Team. 
    </p>

  </div>
</section>