---
permalink: "/"
layout: base.njk

eleventyComputed:
  title: "Home"
  url: "/"
  description: "Welcome to my website"
  image: "https://images.ctfassets.net/06s354hi0b4y/7k67O0l63Wp1las1sYsesO/2a9a757f284ff3ecc5f5f6a0d8caf7cd/inline-image.jpg"
  barba: "index"
---



<!-- Headline -->
<section class="gridContainer homeHeadline">
  <div class="grid">

    <h1>
      Mike Stilling <span class="hideTablet">is a designer that</span> builds <span class="serif">digital brands</span> with nice<span class="hideMobile">, talented</span> people.
    </h1>

  </div>
</section>



<!-- Hero Image -->
<section class="gridContainer homeHeroImage">
  <div class="grid">

    <div class="imgOuter">

      <div class="imgLabel mono allCaps">
        <p>Trendy Stuff</p>
        <p>3D Exploration</p>
        <p>2021 Mike Stilling</p>
      </div>

      <div class="imgInner">
        <img src="./assets/img/hero-placeholder.jpg" alt="placeholder">
      </div>

    </div>

  </div>
</section>



<!-- Intro -->
<section class="gridContainer homeIntro">
  <div class="grid">

    <h2>
      He turns strategy into reality with design, code, and <span class="serif italic">collaboration</span>.
    </h2>

    <div class="gridFill"></div>
    
    <p>
      Mike bridges the gap between marketing, brand, and product teams by understanding the goals of each and how they work together. He designs elements, components, and systems that scale.
    </p>

  </div>
</section>



<!-- Case Studies Title -->
<section class="gridContainer homeCaseStudiesTitle">
  <div class="grid">

    <h3 class="allCaps lineOne">Case</h3>
    <div class="linkBlock">
      <a class="linkUnderlineMedium" href="/projects" title="View all of Mike's work">View all projects</a>
    </div>
    <h3 class="allCaps serif lineTwo">Studies</h3>

  </div>
</section>



<!-- Case Studies -->
<section class="gridContainer homeCaseStudies" id="homeCaseStudies">
  <div class="grid homeCaseStudiesContainer" id="homeCaseStudiesContainer">

    {% for page in projectPages.slice(0, 3) %}
    <div class="homeCaseStudy">
      <a href="/projects/{{ page.slug | url }}">

        <div class="imgOuter">
          <div class="imgInner">
            <img src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
          </div>
        </div>

        <div class="labelOuter">
          <div class="labelInner">
            <h4>{{page.postTitle}}</h4>
          </div>
        </div>

      </a>
    </div>
    {% endfor %}

  </div>
</section>



<!-- Qualifications -->
<section class="gridContainer homeQualifications">
  <div class="grid">

    <div class="textBox">
      <h3>
        Qualifications &
        <span class="serif">Experience</span>
      </h3>
      <ul>
        <li>Figma</li>
        <li>Adobe</li>
        <li>Webflow</li>
        <li>Blender</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Zapier</li>
        <li>Customer.io</li>
        <li>Segment</li>
        <li>Marketing</li>
        <li>Strategy</li>
        <li>Branding</li>
        <li>Systems</li>
      </ul>
    </div>

    <ul class="workHistory">

      <li class="resumeItem">
        <div class="col1">
          <div class="logo">
            <img src="assets/img/logo-abstract.svg" alt="Abstract Logo"/>
          </div>
          <h4>Abstract</h4>
        </div>
        <p class="title">Sr Web Designer</p>
        <p class="duration">Current</p>
        <div class="iconContainer">
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 0V12M12 12H24H0H12ZM12 12V24"/>
          </svg>
        </div>
        <p class="desc">
          At Abstract, Mike works on the brand team and focuses on the marketing website. He also helps with product design and marketing ops.
        </p>
      </li>

      <li class="resumeItem">
        <div class="col1">
          <div class="logo">
            <img src="assets/img/logo-baunfire.svg" alt="Baunfire Logo"/>
          </div>
          <h4>Baunfire</h4>
        </div>
        <p class="title">Sr Designer</p>
        <p class="duration">6 Mos</p>
        <div class="iconContainer">
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 0V12M12 12H24H0H12ZM12 12V24"/>
          </svg>
        </div>
        <p class="desc">
          At Abstract, Mike works on the brand team and focuses on the marketing website. He also helps with product design and marketing ops.
        </p>
      </li>

      <li class="resumeItem">
        <div class="col1">
          <div class="logo">
            <img src="assets/img/logoGMR.svg" alt="GMR Logo"/>
          </div>
          <h4>GMR</h4>
        </div>
        <p class="title">Designer</p>
        <p class="duration">2 Yrs</p>
        <div class="iconContainer">
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 0V12M12 12H24H0H12ZM12 12V24"/>
          </svg>
        </div>
        <p class="desc">
          At Abstract, Mike works on the brand team and focuses on the marketing website. He also helps with product design and marketing ops.
        </p>
      </li>

      <li class="resumeItem">
        <div class="col1">
          <div class="logo">
            <img src="assets/img/logo-stilling.svg" alt="Stilling Logo"/>
          </div>
          <h4>Stilling</h4>
        </div>
        <p class="title">Designer/Dev</p>
        <p class="duration">3 Yrs</p>
        <div class="iconContainer">
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 0V12M12 12H24H0H12ZM12 12V24"/>
          </svg>
        </div>
        <p class="desc">
          At Abstract, Mike works on the brand team and focuses on the marketing website. He also helps with product design and marketing ops.
        </p>
      </li>

      <li class="resumeItem">
        <div class="col1">
          <div class="logo">
            <img src="assets/img/logo-millercoors.svg" alt="MillerCoors Logo"/>
          </div>
          <h4>MillerCoors</h4>
        </div>
        <p class="title">Designer</p>
        <p class="duration">1 Yrs</p>
        <div class="iconContainer">
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 0V12M12 12H24H0H12ZM12 12V24"/>
          </svg>
        </div>
        <p class="desc">
          At Abstract, Mike works on the brand team and focuses on the marketing website. He also helps with product design and marketing ops.
        </p>
      </li>

      <li class="resumeItem">
        <div class="col1">
          <div class="logo">
            <img src="assets/img/logo-hiebing.svg" alt="Hiebing Logo"/>
          </div>
          <h4>Hiebing</h4>
        </div>
        <p class="title">Motion Designer</p>
        <p class="duration">3 Mos</p>
        <div class="iconContainer">
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 0V12M12 12H24H0H12ZM12 12V24"/>
          </svg>
        </div>
        <p class="desc">
          At Abstract, Mike works on the brand team and focuses on the marketing website. He also helps with product design and marketing ops.
        </p>
      </li>

    </ul>

  </div>
</section>



<!-- Case Studies Title -->
<section class="gridContainer homeCaseStudiesTitle">
  <div class="grid">

    <h3 class="allCaps lineOne content">Recent</h3>
    <div class="linkBlock content">
      <a class="linkUnderlineMedium" href="/projects" title="View all of Mike's work">View all content</a>
    </div>
    <h3 class="allCaps serif lineTwo content">Articles</h3>

  </div>
</section>



<!-- Content -->
<section class="gridContainer homeContent">
  <div class="grid">

    {% for page in blogPosts.slice(0, 4) | reverse %}
    <div class="homeArticle">
      <a href="/blog/{{ page.slug | url }}">

        <div class="imgOuter">
          <div class="imgInner">
            <img src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
          </div>
        </div>

        <h5>{{page.postTitle}}</h5>
        <div class="date">
          <p>{{page.postDate}}</p>
        </div>

      </a>
    </div>
    {% endfor %}

  </div>
</section>