---
permalink: "odds-and-ends/"
layout: base.njk

eleventyComputed:
  title: "Odds and Ends"
  metaTitle: "Odds and Ends"
  url: "/odds-and-ends/"
  description: "A collection of one-off design by Mike Stilling"
  image: "https://mikes-portfolio.netlify.app/assets/img/og_oddsends.jpg"
  barba: "oddsAndEnds"
---

<!-- Headline -->
<section class="gridContainer oddsEndsHero">
  <div class="grid">

    <h1 class="name odds">
      Odds
    </h1>

    <h1 class="ampersand">
      &amp;
    </h1>

    <h1 class="name ends">
      Ends
    </h1>

    <h2>A collection of one-off designs by Mike Stilling</h2>

  </div>
</section>


<!-- Graphics -->
<section class="gridContainer oddsEndsContent">
  <div class="grid">

    <div class="imgOuter">
      <img class="imgInner" src="/assets/img/14_cerebras.jpg" alt="Cerebras website design concept" />
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="/assets/img/13_hierarchy.jpg" alt="3D Blog graphic with gothic type" />
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="/assets/img/12_lettern.jpg" alt="3D typographic rendering of the letter N" />
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="/assets/img/11_livestream.jpg" alt="Digital poster for live stream" />
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="/assets/img/10_character.jpg" alt="3D Characterized version of Mike" />
    </div>

    <div class="imgOuter">
      <video class="imgInner video" playsinline="" muted="" loop="" onclick="this.paused?this.play():this.pause()" poster="/assets/img/9_corteva.jpg" title="tap to play">
        <source src="/assets/img/9_corteva.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="imgOuter">
      <video class="imgInner video" playsinline="" muted="" loop="" onclick="this.paused?this.play():this.pause()" poster="/assets/img/8_hellosalonpro.jpg" title="tap to play">
        <source src="/assets/img/8_hellosalonpro.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="imgOuter">
      <video class="imgInner video" playsinline="" muted="" loop="" onclick="this.paused?this.play():this.pause()" poster="/assets/img/7_millerlite.jpg" title="tap to play">
        <source src="/assets/img/7_millerlite.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="imgOuter">
      <video class="imgInner video" playsinline="" muted="" loop="" onclick="this.paused?this.play():this.pause()" poster="/assets/img/6_letterm.jpg" title="tap to play">
        <source src="/assets/img/6_letterm.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="imgOuter">
      <video class="imgInner video" playsinline="" muted="" loop="" onclick="this.paused?this.play():this.pause()" poster="/assets/img/5_head.jpg" title="tap to play">
        <source src="/assets/img/5_head.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="imgOuter">
      <video class="imgInner video" playsinline="" muted="" loop="" onclick="this.paused?this.play():this.pause()" poster="/assets/img/4_halfpipe.jpg" title="tap to play">
        <source src="/assets/img/4_halfpipe.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="imgOuter">
      <video class="imgInner video" playsinline="" muted="" loop="" onclick="this.paused?this.play():this.pause()" poster="/assets/img/3_trendvision.jpg" title="tap to play">
        <source src="/assets/img/3_trendvision.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="/assets/img/2_handphone.jpg" alt="Blog graphic with a hand and cellphone" />
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="/assets/img/1_handpencil.jpg" alt="Blog graphic with a hand and pencil" />
    </div>

    <p>The End</p>

  </div>
</section>