---
permalink: "odds-and-ends/"
layout: base.njk

eleventyComputed:
  title: "Odds and Ends"
  url: "/odds-and-ends/"
  description: "A collection of one-off design by Mike Stilling"
  image: "https://images.ctfassets.net/06s354hi0b4y/7k67O0l63Wp1las1sYsesO/2a9a757f284ff3ecc5f5f6a0d8caf7cd/inline-image.jpg"
  barba: "oddsAndEnds"
---

<!-- Headline -->
<section class="gridContainer oddsEndsHero">
  <div class="grid">

    <h1 class="name odds">
      Odds
    </h1>

    <h1 class="ampersand">
      &amp;
    </h1>

    <h1 class="name ends">
      Ends
    </h1>

    <h2>A collection of one-off designs by Mike Stilling</h2>

  </div>
</section>