---
permalink: "projects/"
layout: base.njk

eleventyComputed:
  title: "Projects"
  url: "/projects/"
  description: "Welcome to my projects"
  image: "https://images.ctfassets.net/06s354hi0b4y/7k67O0l63Wp1las1sYsesO/2a9a757f284ff3ecc5f5f6a0d8caf7cd/inline-image.jpg"
  barba: "projects"
---

<!-- Headline -->
<section class="gridContainer projectsHeadline">
  <div class="grid">

    <h1>
      <span class="serif">Select</span> Design Work by Mike
    </h1>

    <div class="textBox">
      <p class="label">Projects</p>
      <p class="year">2020-2021</p>
    </div>

  </div>
</section>


{% for page in projectPages | reverse %}
<section class="gridContainer projectsProject">
  <div class="grid">

    <div class="textBox">
      <h2>{{ page.postTitle }}</h2>
      <p> {{ page.overview }}</p>
      <a class="linkUnderlineMedium" href="/projects/{{ page.slug | url }}" title="View {{ page.postTitle }} case study">View case study</a>
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
    </div>

  </div>
</section>
{% endfor %}