---
permalink: "projects/"
layout: base.njk

eleventyComputed:
  title: "Projects"
  metaTitle: "Mike Stilling's Work"
  url: "/projects/"
  description: "Case studies of past projects that Mike has worked on"
  image: "https://mikes-portfolio.netlify.app/assets/img/og_projects.jpg"
  barba: "projects"
---

<!-- Headline -->
<section class="gridContainer projectsHeadline">
  <div class="grid">

    <h1>
      <span class="serif">Select</span> Design Work by Mike
    </h1>

    <div class="textBox">
      <p class="label">Projects</p>
      <p class="year">2020-2021</p>
    </div>

  </div>
</section>


{% for page in projectPages | reverse %}
<section class="gridContainer projectsProject">
  <div class="grid">

    <div class="textBox">
      <h2>{{ page.postTitle }}</h2>
      <p> {{ page.overview }}</p>
      <a class="linkUnderlineMedium" href="/projects/{{ page.slug | url }}" title="View {{ page.postTitle }} case study">View case study</a>
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
    </div>

  </div>
</section>
{% endfor %}



<section class="gridContainer oddsEndsCta">
  <div class="grid">

    <h3>
      <span class="name odds">Odds</span>
      <span class="ampersand">&amp;</span>
      <span class="name ends">Ends</span>
    </h3>

    <div class="btnContainer">
      <a href="/odds-and-ends/" class="btn btnDark" title="Contact Mike">View Collection</a>
    </div>

  </div>
</section>