---
pagination:
  data: projectPages
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "projects/{{ page.slug | slug }}/"
tags: "page"
layout: base.njk

eleventyComputed:
  title: "{{- page.postTitle -}}"
  url: "/projects/{{- page.slug | slug -}}/"
  description: "{{- page.metaDescription -}}"
  image: "{{- page.heroImage.url -}}"
  barba: "{{- page.postTitle | slug -}}"
---

<!-- Headline -->
<section class="gridContainer projectHeadline">
  <div class="grid">

    <h1>
      {{ page.postHeadline }}
    </h1>

    <div class="textBox">
      <p class="year">©{{- page.yearCreated -}}</p>
      <div class="details">
        <a class="detail company" href="{{ page.companyLink }}" target="_blank" rel="noopener noreferrer">
          <p class="label">With:</p>
          <p class="name">{{ page.company }}</p>
        </a>
        <a class="detail client" href="{{ page.clientLink }}" target="_blank" rel="noopener noreferrer">
          <p class="label">For:</p>
          <p class="name">{{ page.client }}</p>
        </a>
      </div>
    </div>

  </div>
</section>

<img src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>

<section class="projectContent">
    {{- page.postContent | safe -}}
</section>

<ol>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
</ol>

<section class="filler"></section>