---
pagination:
  data: projectPages
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "projects/{{ page.slug | slug }}/"
tags: "page"
layout: base.njk

eleventyComputed:
  title: "{{- page.postTitle -}}"
  url: "/projects/{{- page.slug | slug -}}/"
  description: "{{- page.metaDescription -}}"
  image: "{{- page.heroImage.url -}}"
  barba: "{{- page.postTitle | slug -}}"
---

<!-- Headline -->
<section class="gridContainer projectHeadline">
  <div class="grid">

    <h1>
      {{ page.postHeadline }}
    </h1>

    <div class="textBox">
      <p class="year">©{{- page.yearCreated -}}</p>
      <div class="details">
        <a class="detail company" href="{{ page.companyLink }}" target="_blank" rel="noopener noreferrer">
          <p class="label">With:</p>
          <p class="name">{{ page.company }}</p>
        </a>
        <a class="detail client" href="{{ page.clientLink }}" target="_blank" rel="noopener noreferrer">
          <p class="label">For:</p>
          <p class="name">{{ page.client }}</p>
        </a>
      </div>
    </div>

  </div>
</section>



<!-- Hero -->
<section class="gridContainer projectHero">
  <div class="grid">

    <div class="imgOuter">
      <img class="imgInner" src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
    </div>

  </div>
</section>



<!-- Overview -->
<section class="gridContainer projectOverview">
  <div class="grid">

    <div class="projectSectionLabel">
      <h2><span>// </span>Overview</h2>
    </div>

    <p class="projectTextLarge">{{ page.overview }}</p>

    <div class="textBox textBox1">
      <div class="textOuter">
        <div class="projectSectionLabel">
          <h3><span>// </span>Responsibilities</h3>
        </div>
        <p class="projectText">{{ page.responsibilities }}</p>
      </div>
    </div>

    <div class="textBox textBox2">
      <div class="textOuter">
        <div class="projectSectionLabel">
          <h3><span>// </span>Goals</h3>
        </div>
        <p class="projectText">{{ page.goals }}</p>
      </div>
    </div>

  </div>
</section>



<!-- Content Title -->
<section class="gridContainer homeCaseStudiesTitle">
  <div class="grid">

    <h3 class="allCaps lineOne content">Design</h3>
    <h3 class="allCaps serif lineTwo content">Process</h3>

  </div>
</section>



<!-- Discovery -->
<section class="gridContainer projectProcess">
  <div class="grid imgLeft first">

    <div class="imgOuter">
      <img class="imgInner" src="{{ page.discoveryImage.url }}" alt="{{ page.discoveryImage.altText }}"/>
    </div>

    <div class="textBox">
      <div class="projectSectionLabel">
        <h4><span>// </span>Discovery</h4>
      </div>
      <p class="projectTextSmall">{{ page.discoveryText }}</p>
    </div>

  </div>
</section>



<!-- Strategy -->
<section class="gridContainer projectProcess">
  <div class="grid imgRight">

    <div class="textBox">
      <div class="projectSectionLabel">
        <h4><span>// </span>Strategy</h4>
      </div>
      <p class="projectTextSmall">{{ page.strategyText }}</p>
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="{{ page.strategyImage.url }}" alt="{{ page.strategyImage.altText }}"/>
    </div>

  </div>
</section>



<!-- Visualization -->
<section class="gridContainer projectProcess">
  <div class="grid imgLeft">

    <div class="imgOuter">
      <img class="imgInner" src="{{ page.visualizationImage.url }}" alt="{{ page.visualizationImage.altText }}"/>
    </div>

    <div class="textBox">
      <div class="projectSectionLabel">
        <h4><span>// </span>Visualization</h4>
      </div>
      <p class="projectTextSmall">{{ page.visualizationText }}</p>
    </div>

  </div>
</section>



<!-- Implementation -->
<section class="gridContainer projectProcess">
  <div class="grid imgRight last">

    <div class="textBox">
      <div class="projectSectionLabel">
        <h4><span>// </span>Implementation</h4>
      </div>
      <p class="projectTextSmall">{{ page.implementationText }}</p>
    </div>

    <div class="imgOuter">
      <img class="imgInner" src="{{ page.implementationImage.url }}" alt="{{ page.implementationImage.altText }}"/>
    </div>

  </div>
</section>



<!-- Outcomes Marquee -->
<section class="marquee">
  <div class="marqueeTrack">

    <div class="marqueeItem">
      <p>Outputs + Outcomes +&nbsp;</p>
    </div>

    <div class="marqueeItem">
      <p>Outputs + Outcomes +&nbsp;</p>
    </div>

  </div>
</section>



<!-- Output Images -->
<section class="gridContainer projectOutputs">
  <div class="grid imgRight last">

    <div class="imgCol1">
      <div class="imgOuter img1">
        <img class="imgInner" src="{{ page.outputImage1.url }}" alt="{{ page.outputImage1.altText }}" title="{{ page.outputImage1.altText }}"/>
      </div>
      <div class="imgOuter img2">
        <img class="imgInner" src="{{ page.outputImage2.url }}" alt="{{ page.outputImage2.altText }}" title="{{ page.outputImage2.altText }}"/>
      </div>
    </div>

    <div class="imgCol2">
      <div class="imgOuter img3">
        <img class="imgInner" src="{{ page.outputImage3.url }}" alt="{{ page.outputImage3.altText }}" title="{{ page.outputImage3.altText }}"/>
      </div>
      <div class="imgOuter img4">
        <img class="imgInner" src="{{ page.outputImage4.url }}" alt="{{ page.outputImage4.altText }}" title="{{ page.outputImage4.altText }}"/>
      </div>
    </div>

  </div>
</section>



<!-- Outcomes -->
<section class="gridContainer projectOutcomes">
  <div class="grid">

    <div class="projectSectionLabel">
      <h5><span>// </span>Outcomes</h5>
    </div>

    <p class="projectTextLarge">{{ page.outcomes }}</p>

  </div>
</section>



<!-- Credits -->
<section class="gridContainer projectCredits">
  <div class="grid">

    <div class="textBox">
      <div class="projectSectionLabel">
        <h6><span>// </span>Team</h6>
      </div>
      <div class="teamItem first">
        <p class="label">{{ page.teamTitle1 }}:</p>
        <p class="name">{{ page.teamName1 }}</p>
      </div>
      <div class="teamItem">
        <p class="label">{{ page.teamTitle2 }}:</p>
        <p class="name">{{ page.teamName2 }}</p>
      </div>
      <div class="teamItem">
        <p class="label">{{ page.teamTitle3 }}:</p>
        <p class="name">{{ page.teamName3 }}</p>
      </div>
      <div class="teamItem">
        <p class="label">{{ page.teamTitle4 }}:</p>
        <p class="name">{{ page.teamName4 }}</p>
      </div>
      <div class="teamItem last">
        <p class="label">{{ page.teamTitle5 }}:</p>
        <p class="name">{{ page.teamName5 }}</p>
      </div>
    </div>

    <div class="cta">
      {% set previousPost = projectPages | getPreviousCollectionItem(page) %}
      {% set nextPost = projectPages | getNextCollectionItem(page) %}
      {% set firstPost = projectPages | first %}
      {% set lastPost = projectPages | last %}

      {% if previousPost %}
      Previous Blog Post:
      <a href="{{ previousPost.url }}">{{ previousPost.postTitle }}</a>
      {% else %}
        Previous Project: <a href="{{ lastPost.url }}">{{ lastPost.postTitle }}</a>
      {% endif %}


      {% if nextPost %}
      Next Project: <a href="{{ nextPost.url }}">{{ nextPost.postTitle }}</a>
      {% else %}
        Next Blog Post: <a href="{{ firstPost.url }}">{{ firstPost.postTitle }}</a>
      {% endif %}


    </div>

  </div>
</section>