---
pagination:
  data: projectPages
  size: 1
  alias: page
  addAllPagesToCollections: true
permalink: "projects/{{ page.slug | slug }}/"
tags: "page"
layout: base.njk

eleventyComputed:
  title: "{{- page.postTitle -}}"
  url: "/projects/{{- page.slug | slug -}}/"
  description: "{{- page.metaDescription -}}"
  image: "{{- page.heroImage.url -}}"
  barba: "{{- page.postTitle | slug -}}"
---

<!-- Headline -->
<section class="gridContainer projectHeadline">
  <div class="grid">

    <h1>
      {{ page.postHeadline }}
    </h1>

    <div class="textBox">
      <p class="year">©{{- page.yearCreated -}}</p>
      <div class="details">
        <a class="detail company" href="{{ page.companyLink }}" target="_blank" rel="noopener noreferrer">
          <p class="label">With:</p>
          <p class="name">{{ page.company }}</p>
        </a>
        <a class="detail client" href="{{ page.clientLink }}" target="_blank" rel="noopener noreferrer">
          <p class="label">For:</p>
          <p class="name">{{ page.client }}</p>
        </a>
      </div>
    </div>

  </div>
</section>



<!-- Hero -->
<section class="gridContainer projectHero">
  <div class="grid">

    <div class="imgOuter">
      <img src="{{ page.heroImage.url }}" alt="{{ page.heroImage.altText }}"/>
    </div>

  </div>
</section>



<!-- Overview -->
<section class="gridContainer projectOverview">
  <div class="grid">

    <div class="projectSectionLabel">
      <h2><span>// </span>Overview</h2>
    </div>

    <p class="projectTextLarge">{{ page.overview }}</p>

    <div class="textBox textBox1">
      <div class="textOuter">
        <div class="projectSectionLabel">
          <h3><span>// </span>Responsibilities</h3>
        </div>
        <p class="projectText">{{ page.responsibilities }}</p>
      </div>
    </div>

    <div class="textBox textBox2">
      <div class="textOuter">
        <div class="projectSectionLabel">
          <h3><span>// </span>Goals</h3>
        </div>
        <p class="projectText">{{ page.goals }}</p>
      </div>
    </div>

  </div>
</section>








<ol>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
</ol>