// Base
@import 'global/reset';
@import 'global/colorPalette';
@import 'global/easings';
@import 'global/fonts';
@import 'global/base';
@import 'global/links';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/mobileNav';
@import 'components/watermarks';
@import 'components/transitions';

// Home Page
@import 'components/homeHeadline';
@import 'components/homeHeroImg';
@import 'components/homeIntro';
@import 'components/homeCaseStudies';
@import 'components/homeQualifications';
@import 'components/homeBlog';
@import 'components/homeClosing';
@import 'components/homeContact';
@import 'components/homeDecorations';

// Projects
@import 'components/projectsHeadline';
@import 'components/projectsProject';

// Project
@import 'components/projectHeadline';
@import 'components/projectHero';
@import 'components/projectOverview';
@import 'components/projectProcess';
@import 'components/projectOutputs';
@import 'components/projectOutcomes';
@import 'components/projectCredits';

// Blog
@import 'components/blogFeatured';
@import 'components/blogAllContent';
@import 'components/blogThumbnail';
@import 'components/blogPost';
@import 'components/blogPrevNext';

// Odds and Ends
@import 'components/oddsEndsHero';
@import 'components/oddsEndsContent';
@import 'components/oddsEndsCta';

// Locomotive
@import 'global/locomotive';

.filler {
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

html { -webkit-text-size-adjust:none; }